.whatandwhy {
    background-color: #27292d;
    padding-top: 40px;
    margin: 0;
    padding-bottom: 40px;
}

.whatandwhy__container {
    margin: 0 auto;
    max-width: 1200px;
}

.whatandwhy h2 {
    font-size: 48px;
    margin: 30px;
}

.whatandwhy__what,
.whatandwhy__why {
    font-size: 48px;
    font-weight: 700;
    color: white;
    width: 100%;
    text-align: center;
    padding: auto 0;
    margin: 0;
}

.whatandwhy svg {
    fill: #20cb50;
    width: 48px;
    height: 48px;

}

.whatandwhy h3 {
    color: #20cb50;
    font-size: 36px;
    font-weight: 700;
    font-family: Helvetica Neue,
        Helvetica,
        Roboto,
        Segoe UI,
        Arial,
        sans-serif;
    ;
}

.whatandwhy p {
    color: white;
    font-size: 20px;
    font-weight: 500;
    font-family: Helvetica Neue,
        Helvetica,
        Roboto,
        Segoe UI,
        Arial,
        sans-serif;
}

.whatandwhy__what-points {
    display: flex;
    justify-content: space-between;
    flex-flow: nowrap;
}

.whatandwhy__languages,
.whatandwhy__tutors,
.whatandwhy__billing {
    padding: 40px;
    width: 30%;
}

.whatandwhy__button {
    box-sizing: border-box;
    width: 360px;
    height: 80px;
    color: #12a53c;
    border: 18px solid #12a53c;
    border-radius: 18px;
    background-color: #12a53c;
    margin: 0px auto;
    text-align: center;
}

.whatandwhy__button span {
    color: white;
    font-size: 28px;
    font-weight: 800;
}



@media only screen and (max-width: 900px) {
    .whatandwhy__what-points {
        flex-flow: wrap;
    }

    .whatandwhy__languages,
    .whatandwhy__tutors,
    .whatandwhy__billing {
        width: 100%;
        padding: 5px 20px;
    }

    .whatandwhy svg {
        float: left;
        margin-right: 10px;
        width: 28px;
        height: 28px;
        margin-top: 24px;
    }

    .whatandwhy h2 {
        font-size: 28px;
    }

    .whatandwhy h3 {
        font-size: 24px;
    }

    .whatandwhy__button {
        width: 90%;
        margin: 0px auto;
    }
}